@import "../../\ scss-const.scss";

.btn {
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;

  &.primary {
    background: $dark-blue;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: $cream;
    border: none;
    &:hover {
      background: linear-gradient(
        135deg,
        #a060ff 0%,
        #cb30e3 49.21%,
        #ffa84e 100%
      );
    }
  }

  &.secondary {
    padding-bottom: 14px;
    background: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
    color: $dark-blue;
    height: 56px;
    border: 1px solid $dark-blue;
    &:hover {
      background: $dark-blue;
      border: 1px solid $dark-blue;
      border-radius: 6px;
      color: $cream;
    }
  }
}
