@import "../../\ scss-const.scss";

.top__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 479px;
  padding: 0 165px;
  width: 1110px;

  @media (max-width: 768px) {
    padding: 0 16px;
    flex-direction: column;
    width: 343px;
    height: 323px;
    margin-bottom: 600px;
  }
  @media (max-width: 375px) {
    padding: 0 16px;
    flex-direction: column;
    width: 343px;
    gap: 60px;
  }

  .img-circle {
    position: absolute;
    left: 289px;
    top: 45px;
    z-index: 2;
    @media (max-width: 768px) {
      width: 241px;
    }
    @media (max-width: 375px) {
      width: 151px;
      left: 155px;
      top: 80px;
    }
  }

  .img-cellphone {
    position: absolute;
    top: 0;
    left: 474px;

    @media (max-width: 768px) {
      width: 281px;
      height: 482px;
    }

    @media (max-width: 375px) {
      display: none;
  
    }
  }
  .cell-mobile {
    display: none;
    @media (max-width: 375px) {
      display: flex;
      margin-top: 150px;
    }
  }

  .top__left {
    z-index: 2;

    @media (max-width: 375px) {
      width: 343px;
      height: 325px;
    
    }

    .top__left-header {
      margin-top: 104px;
      font-weight: 700;
      font-size: 72px;
      line-height: 78px;
      letter-spacing: -1px;
      color: $dark-blue;
      width: 635px;
      margin-bottom: 40px;
      z-index: 9999;

      @media (max-width: 768px) {
        font-weight: 700;
        font-size: 56px;
        line-height: 64px;
        width: 540px;
        letter-spacing: -0.777778px;
      }

      @media (max-width: 375px) {
        font-weight: 700;
        font-size: 38px;
        line-height: 44px;
        letter-spacing: -0.527778px;
        width: 343px;
      }

      .top__left-strong {
        font-weight: 400;

        @media (max-width: 768px) {
          font-weight: 400;
          font-size: 56px;
          line-height: 64px;
          letter-spacing: -0.777778px;
        }
        @media (max-width: 375px) {
          font-weight: 400;
          font-size: 38px;
          line-height: 44px;
          letter-spacing: -0.527778px;
        }
      }
    }

    .top__left-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.1px;
      color: $gray;
      width: 350px;
      margin-bottom: 54px;
    }
  }

  .top__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 63px;
    height: 375px;
    margin-left: 94px;

    @media (max-width: 768px) {
      padding: 40px;
      flex-direction: row;
    }
    @media (max-width: 375px) {
     padding: 16px;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     margin: 0;
     
    }

    .top__right-labels {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      .top_right-header {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.5px;
        color: $dark-blue;
      }

      .top_right-subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 2.5px;
        color: $gray;
      }
    }
  }
}
